a {
    color: white;
    /* 设置超链接的文本颜色为白色 */
}

img{
	width: 100%;
}

.view-all-resource{
    width: 10%;
}

h3{
    font-size: x-large;
}

header {
    justify-items: center;
    background-color: #00274C;
    text-align: center;
    color: white;
    padding: 50px 0;
}


header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    padding: 10px;
    grid-gap: 5px;
}

header nav ul li {
    padding: 10px;
    background-color: #2F65A7;
    border-radius: 5px;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    background-color: #EDECEC;
}

.list-in-body a {
    color: black; /* 改为黑色 */
}

.skip {
    position: absolute;
    top: -40px;
}

.skip:focus {
    top: 25px;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
}

.main-content h2 {
    text-align: center;
    font-weight: bolder;
    background-color: #FFCB05;
    grid-column-start: 1;
    grid-column-end: -1;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    padding: 10px;
    text-transform: uppercase;
}

.main-content article {
    display: grid;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height: 2; 
}

.main-content article figure {
    display: grid;
    justify-content: center;
}

.top-content{
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
}

.item {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;

}

.list-in-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFCB05;
    justify-items: stretch;
    grid-gap: 5px;
    padding: 10px;
}

.list-in-body > li{
    background-color: #ffffff;
    justify-items: center;
    border-radius: 5px;
    padding: 10px;
}


footer {
    display: grid;
    justify-content: center;
    background-color: #00274C;
    text-align: center;
    color: white;
    padding: 50px 0;
    line-height: 2; 
}

.footer-header {
    color: #FFCB05;
}